.popup__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 34px auto 54px;
    width: 80%;
}

@media (max-width:508px) {
    .popup__title {
        font-size: 20px;
    }
}