.popup__close-button {
    background-image: url(../../../images/close-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.popup__close-button:hover {
    background-image: url(../../../images/close-grey.svg);
    cursor: pointer;
}

