.profile {
    display: flex;
    margin-top: 36px;
    margin-bottom: 47px;
    flex-wrap: wrap;
}

@media (max-width: 909px) {
    .profile {
        margin: 42px 19px 36px;
        flex-direction: column;
    }
}