.popup__close-button_type_image {
    background-color: transparent;
    position: relative;
    width: 41px;
    height: 41px;
    left: 35px;
    top: -5px;
    align-self: flex-end;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none; 
}

@media (max-width: 909px) {
    .popup__close-button_type_image {
        width: 30px;
        height: 30px;
    }
}