.element {
    width: 282px;
    min-height: 350px;
    position: relative;
    overflow: hidden;
    color: black;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
}

.element:hover {
    opacity: 0.5;
}
