.popup__close-button_type_input {
    outline: none;
    background-color: transparent;
    position: absolute;
    width: 41px;
    height: 41px;
    left: 99%;
    top: -13%;
    margin: 0;
    padding: 0;
    border: 0;
}

@media (max-width: 909px) {
    .popup__close-button_type_input {
        width: 30px;
        height: 30px;
    }
}