.element__like-button {
    margin: 0;
    height: 25px;
    background-image: url(../../../images/serdce.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color:white;
    padding: 0;
    outline: none;
    border: none;
}

.element__like-button:hover {
    cursor: pointer;
    opacity: 0.5;
}