.popup__submit {
    background: #000000;
    border-radius: 2px;
    padding: 0;
    width: 80%;
    outline: none;
    height: 50px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 36px;
}

.popup__submit:hover {
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

@media (max-width: 508px) {
    .popup__submit {
        margin-top: 0;
    }
}